.defbtn {
	background-color: gray;
	font-family: Arial;
	color: black;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px ridge black;
	font-size: 24;
	font-weight: bold;
}

.defbtn:hover {
	background-color: rgb(64, 64, 64);
	font-family: Arial;
	align-self: center;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px ridge black;
	font-size: 24;
	font-weight: bold;
}
